{% extends "base.html" %}

{% block title %}TACSMA - Register {{ elementname }}{% endblock %}

{% block styles %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/element/elementregister.css') }}" /> 
{% endblock %}

{% block content %}
<section class="page-content">
    <h1>Register {{ elementname }}</h1>
    <div id="dynamic-content">
        <div class="dynamic-wrapper">
            <div class="form-header-top">
                <div class="form-actions-top">
                    <button title="Add element" class="icon-button" id="add-row">➕</button>
                </div>
            </div>

            <div id="message-area" class="message-area"></div>

            <div class="form-box">
                <div class="form-header">
                    <div>Name</div>
                    <div></div>
                    <div></div>
                </div>

                <div id="form-rows"></div>

                <div class="run-button-wrapper">
                    <button class="run-button action-button">Register</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="element-name-hidden" value="{{ elementname }}">
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/element/elementregister.js') }}"></script>
{% endblock %}