{% extends "base.html" %}

{% block title %}TACSMA - Update Alias Unit of conversion{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auoc/auocupdate.css') }}" />
{% endblock %}

{% block content %}
<section class="page-content">
    <div class="uoc-title-wrapper">
        <h1 class="uoc-title">Update Alias Unit Of Conversion</h1>
        <div id="dynamic-content">
            <div class="dynamic-wrapper">
                <div class="form-box" id="form-rows" data-uoc-id="{{ idd }}">
                    <div class="form-header">
                        <div>Alias</div>
                        <div>Canonical Unit</div>
                        <div>State</div>
                    </div>

                    <div class="form-row">
                        {% if auoc %}
                            <input type="hidden" class="uoc-id" value="{{ auoc.id }}">
                            <input type="text" class="uoc-name" placeholder="alias" value="{{ auoc.alias_name }}">
                            <select class="uoc-unit" data-selected="{{ auoc.canonical_unit }}"></select>
                            <select class="uoc-state">
                                <option value="1" {% if auoc.is_active %}selected{% endif %}>Active</option>
                                <option value="0" {% if not auoc.is_active %}selected{% endif %}>Inactive</option>
                            </select>
                        {% else %}
                            <p>No Alias Unit of Conversion data available.</p>
                        {% endif %}
                    </div>

                    <div class="run-button-wrapper">
                        <button class="run-button" type="button">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/auoc/auocupdate.js') }}"></script>
{% endblock %}