{% extends "base.html" %}

{% block title %}TACSMA - Data Sheet{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/task/tasks.css') }}" />
{% endblock %}

{% block content %}
<section class="page-content">
       <h1>Data Sheet</h1>
      <section class="task-panel">
        <div class="task-header">
           <!-- <h2>New Task</h2> -->
          <div class="task-actions">
            <div class="task-icon open-icon">
              <img src="{{ url_for('static', filename='img/addtask.png') }}" alt="Add" data-url="{{ url_for('datasheet_bp.datasheetregister')}}"/>
              <span>Add</span>
            </div>
            <div class="task-icon open-icon">
              <img src="{{ url_for('static', filename='img/edittask.png') }}" alt="Edittask" data-url="{{ url_for('datasheet_bp.datasheetupdate')}}"/>
              <span>Edit</span>
            </div>
            <div class="task-icon open-icon">
              <img src="{{ url_for('static', filename='img/viewtask.png') }}" alt="View" />
              <span>View</span>
            </div>
          </div>
        </div>

      </section>
      </section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/openother.js') }}"></script> 
{% endblock %}
